<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{% static 'gestionpassword/styles.css' %}">
    <!-- Ajoutez ici d'autres ressources CSS ou JS -->
</head>
<body>
    <header>
        <!-- menus -->
        <nav>
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'add_password' %}">Ajouter mot de passe</a>
            <a href="{% url 'view_all' %}">Gérer les mots de passe</a>
            <a href="{% url 'login' %}">logout</a>
            
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- contenu -->
        {% endblock content %}
    </main>

    <footer>
        <!-- footer-->
        <p>©lucaslimouzin 2024 Password Manager. Tous droits réservés.</p>
    </footer>
</body>
</html>
