{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{% static 'gestionpassword/styles.css' %}">
    <!-- Ajoutez ici d'autres ressources CSS ou JS -->
</head>
<body>
    <header>
        <!-- menus -->
        <nav class="navbar">
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'add_password' %}">Ajouter mot de passe</a>
            <a href="{% url 'view_all' %}">Gérer les mots de passe</a>
            <a href="{% url 'logout' %}">logout</a>
            <button onclick="toggleDarkMode()">Mode Sombre</button>
            
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- contenu -->
        {% endblock content %}
    </main>

    <footer class="footer">
        <!-- footer-->
        <p>©lucaslimouzin 2024 Password Manager. Tous droits réservés.</p>
    </footer>
    <script>
        function toggleDarkMode() {
            var isDarkMode = document.body.classList.toggle('dark-mode');
            localStorage.setItem('darkMode', isDarkMode ? 'enabled' : 'disabled');
        }
    
        window.onload = function() {
            if (localStorage.getItem('darkMode') === 'enabled') {
                document.body.classList.add('dark-mode');
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.accordeon-header').forEach(header => {
                header.addEventListener('click', function() {
                    this.classList.toggle('active');
                    var body = this.nextElementSibling;
                    if (body.style.display === "block") {
                        body.style.display = "none";
                    } else {
                        body.style.display = "block";
                    }
                });
            });
        });
        </script>
</body>
</html>
