{% load static %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{% static 'gestionpassword/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>
    <header>
        <!-- menus -->
        <nav class="navbar">
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'add_password' %}">Ajouter site</a>
            <a href="{% url 'gestion_csv' %}">Import/Export CSV</a>
            <a href="{% url 'logout' %}">logout</a>
            <button onclick="toggleDarkMode()">Mode Sombre</button>
            
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- contenu -->
        {% endblock content %}
    </main>

    <footer class="footer">
        <!-- footer-->
        <p>©lucaslimouzin 2024 Password Manager. Tous droits réservés.</p>
    </footer>
    <script>
        function toggleDarkMode() {
            var isDarkMode = document.body.classList.toggle('dark-mode');
            localStorage.setItem('darkMode', isDarkMode ? 'enabled' : 'disabled');
        }
    
        window.onload = function() {
            if (localStorage.getItem('darkMode') === 'enabled') {
                document.body.classList.add('dark-mode');
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.accordeon-header').forEach(header => {
                header.addEventListener('click', function() {
                    this.classList.toggle('active');
                    var body = this.nextElementSibling;
                    if (body.style.display === "block") {
                        body.style.display = "none";
                    } else {
                        body.style.display = "block";
                    }
                });
            });
        });
    </script>
    <script>
        function confirmDelete(url) {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce site ?")) {
                window.location.href = url;
            }
        }
    </script>
    <script>
        function togglePasswordVisibility(passwordFieldId) {
            var passwordField = document.getElementById(passwordFieldId);
            var toggleButton = document.getElementById("togglePassword" + passwordFieldId);
    
            if (passwordField.getAttribute("data-type") === "password") {
                passwordField.textContent = passwordField.getAttribute("data-password");
                passwordField.setAttribute("data-type", "text");
                toggleButton.className = "far fa-eye-slash";
            } else {
                passwordField.textContent = "●".repeat(passwordField.getAttribute("data-password-length"));
                passwordField.setAttribute("data-type", "password");
                toggleButton.className = "far fa-eye";
            }
        }
    </script>
</body>
</html>
