<!-- edit_site.html -->
{% extends "gestionpassword/base.html" %}
{% load static %}

{% block content %}
  <div id="edit-site-container">
    <h2>Ajouter un nouveau site</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="errors">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-field">
            <label for="{{ form.site_name.id_for_label }}">Nom du site</label>
            <input type="text" name="{{ form.site_name.name }}" id="{{ form.site_name.id_for_label }}" value="{{ form.site_name.value|default_if_none:'' }}" class="{% if form.site_name.errors %}invalid{% endif %}">
            {% for error in form.site_name.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-field">
            <label for="{{ form.site_url.id_for_label }}">URL du site</label>
            <input type="text" name="{{ form.site_url.name }}" id="{{ form.site_url.id_for_label }}" value="{{ form.site_url.value|default_if_none:'' }}" class="{% if form.site_url.errors %}invalid{% endif %}">
            {% for error in form.site_url.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-field">
            <label for="{{ form.username.id_for_label }}">Identifiant</label>
            <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default_if_none:'' }}" class="{% if form.username.errors %}invalid{% endif %}">
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">Mot de passe</label>
            <input type="text" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" value="{{ form.password.value|default_if_none:'' }}" class="{% if form.password.errors %}invalid{% endif %}">
            {% for error in form.password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn">Enregistrer</button>
    </form>
  </div>
{% endblock %}
