{% extends "gestionpassword/base.html" %}
{% load static %}
{% load my_filters %}

{% block content %}
  <div id="home-container">
    <h1>Bienvenue {{ user.username }} <br> sur votre application de gestion de mots de passe</h1>
    <p>Gérez tous vos mots de passe depuis un seul endroit. Sécurisé, rapide et utile.</p>
    <!-- Boutons d'action -->
    <a href="{% url 'add_password' %}" class="btn">Ajouter un nouveau site +</a><br><br><br>
    <!-- En dessous mettre la liste des sites avec mot de passe en caché-->
    <!-- Accordéons pour chaque site -->
    <h2>Mes sites</h2>
    {% for site in sites %}
      <div class="accordeon">
        <div class="accordeon-header">{{ site.site_name }}</div>
        <div class="accordeon-body">
          <p>URL: <a>{{ site.site_url }}</a></p>
          <p>Identifiant: {{ site.username }}</p>
          <p>Mot de passe: {{ site.password }}</p>
          <!-- <p>Mot de passe: <span id="password" data-password="{{ site.password }}" data-password-length="{{ site.password|length }}"></span>
            <i id="togglePassword{{ site.id }}" class="far fa-eye" onclick="togglePasswordVisibility('password{{ site.id }}')"></i>
        </p> -->
          <form method="get" action="{% url 'edit_site' site.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-edit">Éditer</button>
          </form>
          <br>
          <button class="delete-btn" onclick="confirmDelete('{{ site.get_delete_url }}')">Supprimer</button>

        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
