{% extends "gestionpassword/base.html" %}
{% load static %}

{% block content %}
  <div id="home-container">
    <h1>Bienvenue {{ user.username }} <br> sur votre application de gestion de mots de passe</h1>
    <p>Gérez tous vos mots de passe depuis un seul endroit. Sécurisé, rapide et utile.</p>
    <!-- Boutons d'action -->
    <a href="{% url 'add_password' %}" class="btn">Ajouter un nouveau mot de passe +</a><br>
    <!-- En dessous mettre la liste des sites avec mot de passe en caché-->
    <!-- Accordéons pour chaque site -->
    {% for site in sites %}
      <div class="accordeon">
        <div class="accordeon-header">{{ site.site_name }}</div>
        <div class="accordeon-body">
          <p>URL: {{ site.site_url }}</p>
          <p>Identifiant: {{ site.username }}</p>
          <p>Mot de passe: {{ site.password }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
