{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription | Password Manager</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gestionpassword/styles.css' %}">
</head>
<body>
    <div id="signup-container">
        <h2>Nouveau sur <br> Password Manager ?</h2>
        <p>Veuillez vous inscrire <br>et gérer facilement vos mots de passe.</p>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errors">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <input type="text" name="username" placeholder="Nom d'utilisateur" value="{{ form.username.value|default_if_none:'' }}" class="{% if form.username.errors %}invalid{% endif %}">
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <input type="email" name="email" placeholder="Adresse email" value="{{ form.email.value|default_if_none:'' }}" class="{% if form.email.errors %}invalid{% endif %}">
            {% for error in form.email.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <input type="password" name="password1" placeholder="Mot de passe" class="{% if form.password1.errors %}invalid{% endif %}">
            {% for error in form.password1.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <input type="password" name="password2" placeholder="Confirmer le mot de passe" class="{% if form.password2.errors %}invalid{% endif %}">
            {% for error in form.password2.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <button type="submit">S'inscrire</button>
        </form>
        <p>Vous avez déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
    </div>
</body>
</html>
