{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription | Password Manager</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gestionpassword/styles.css' %}">
</head>
<body>
    <div id="signup-container">
        <h2>Nouveau sur <br> Password Manager ?</h2>
        <p>Veuillez vous inscrire <br>et gérer facilement vos mots de passe.</p>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit">S'inscrire</button>
        </form>
        <p>Vous avez déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
    </div>
</body>
</html>
