/* Styles par défaut (mode clair) */
body {
    background-color: white;
    color: black;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #212121;
    color: #ECECF1;
}

.navbar {
    text-align: center; 
}
.navbar a {
    display: inline-block; 
    margin: 0 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}
#container, #signup-container, #home-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button[type=submit]:hover {
    opacity: 0.8;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    text-decoration: underline;
}

/* Styles pour les accordéons */
.accordeon {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
}

.accordeon-header {
    background-color: #00b4d8; 
    color: #ffffff; 
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.accordeon-header::after {
    content: '+'; 
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff; 
}

.accordeon-header.active::after {
    content: '-'; 
}

.accordeon-body {
    display: none;
    padding: 10px 15px;
    background-color: #f0f0f0; 
    font-size: 14px;
    line-height: 1.6; 
}

/* Styles spécifiques au mode sombre pour les accordéons */
body.dark-mode .accordeon-header {
    background-color: #263238; 
    color: #ECECF1; 
}

body.dark-mode .accordeon-header::after {
    color: #ECECF1; 
}

body.dark-mode .accordeon-body {
    background-color: #455A64; 
    color: #ECECF1;
}
