/* Styles par défaut (mode clair) */
body {
    background-color: white;
    color: black;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.navbar {
    text-align: center; 
}
.navbar a {
    display: inline-block; 
    margin: 0 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}
#container, #signup-container, #home-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button[type=submit]:hover {
    opacity: 0.8;
}

a {
    display: inline-block;
    margin-top: 20px;
}
